@import "src/styles/style";

.checkboxTreeExtended {
    // Компенсация отступа последней ноды.
    margin-bottom: -12px;
    padding: 12px;
}

.checkboxTreeExtendedNode {
    .checkboxTreeExtendedNode:has(.sm) {
        margin-left: 16px;
    }

    .checkboxTreeExtendedNode:has(.md),
    .checkboxTreeExtendedNode:has(.lg) {
        margin-left: 24px;
    }
}

.checkboxTreeExtendedNodeHeader {
    display: flex;
    justify-content: space-between;
    position: relative;

    &.sm {
        margin-bottom: 8px;
    }

    &.md {
        margin-bottom: 12px;
    }

    &.lg {
        margin-bottom: 12px;
    }

    // В базовом компоненте чекбокс почему-то есть отступы, которые не убираются.
    .checkboxTreeCheckboxLabel {
        margin-bottom: 0 !important;
    }

    .caretIconWrapper {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        transition: transform 0.3s ease;
        transform: rotate(0);

        &:focus {
            outline: 1px solid var(--triplex-next-Checkbox-BorderColor_Focus);
        }
    }

    &.opened {
        .caretIconWrapper {
            transform: rotate(180deg);
        }
    }
}

@media (max-width: @screen-sm-max) {
    .checkboxTreeExtended {
        padding: 0 16px;

        // Увеличение области клика чекбокса.
        .checkboxTreeExtendedNodeHeader {
            margin-bottom: 0;

            .checkboxTreeCheckboxLabel {
                padding-top: 16px;
                padding-bottom: 16px;

                // .checkmarkIcon
                & > span,
                // .checkboxIcon
                & > svg,
                .checkboxTreeCheckbox {
                    top: 14px;
                }
            }
        }
    }
}
