.calendar {
    width: 300px;
    padding: 8px 12px;
    // Чтобы переопределить внешние стили вида * {box-sizing: border-box}.
    // box-sizing: content-box;
    box-sizing: border-box;
    background: var(--triplex-next-Calendar-Background);
    border-radius: 8px;
    user-select: none;
    box-shadow: var(--triplex-next-Calendar-Background_Shadow);

    &.adaptive {
        width: auto;
        padding: 20px;
    }

    + .calendar {
        margin-top: 20px
    }
}
