.calendarViewDays {
    width: calc(100% + 4px + 4px);
    margin: 12px -4px 0px -4px;
    border-spacing: 4px 0px;
    table-layout: fixed;

    + .calendarFooter {
        margin-top: 18px;
    }

    .adaptive & {
        width: 100%;
        margin: 12px 0 0;
        border-spacing: 0;

        + .calendarFooter {
            margin-top: 12px;
        }
    }
}

.calendarViewMonths,
.calendarViewYears {
    width: calc(100% + 6px + 6px);
    margin: 8px -6px -14px;
    border-spacing: 6px 14px;
    table-layout: fixed;

    + .calendarFooter {
        margin-top: 22px;
    }

    .adaptive & {
        width: 100%;
        margin: 4px 0 -8px;
        border-spacing: 0 8px;

        + .calendarFooter {
            margin-top: 12px;
        }
    }
}

.calendarViewDaysHeader {
    height: 24px;
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--triplex-next-Calendar-View_Header_Color);
}

.calendarViewDaysBody {
    &::before {
        display: block;
        content: '\200C';
        line-height: 8px;
    }
}

.calendarViewItem {
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    &:focus-visible {
        // Обводка показывается через вложенный элемент.
        outline: none;
    }

    &.current {
        font-family: SBSansTextSemibold, Arial, sans-serif;
        font-weight: 600;
    }

    &.disabled {
        pointer-events: none;
    }
}

.calendarViewItemLabel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    white-space: nowrap;
    box-sizing: border-box;
    margin: auto;
    color: var(--triplex-next-Calendar-View_Item_Color_Default);
    background: var(--triplex-next-Calendar-View_Item_Background_Default);
    border: 1px solid var(--triplex-next-Calendar-View_Item_BorderColor_Default);
    cursor: pointer;

    &.muted {
        color: var(--triplex-next-Calendar-View_Item_Color_Muted);
    }

    &:hover {
        color: var(--triplex-next-Calendar-View_Item_Color_Hover);
        background: var(--triplex-next-Calendar-View_Item_Background_Hover);
    }

    &.selected {
        color: var(--triplex-next-Calendar-View_Item_Color_Selected);
        background: var(--triplex-next-Calendar-View_Item_Background_Selected_Default);

        &:hover {
            background: var(--triplex-next-Calendar-View_Item_Background_Selected_Hover);

            &.basicMark::after {
                background: var(--triplex-next-Calendar-View_Item_Mark_Basic_Background_Selected_Hover);
            }

            &.standardMark::after {
                background: var(--triplex-next-Calendar-View_Item_Mark_Standard_Background_Selected_Hover);
            }

            &.attentionMark::after {
                background: var(--triplex-next-Calendar-View_Item_Mark_Attention_Background_Selected_Hover);
            }

            &.criticalMark::after {
                background: var(--triplex-next-Calendar-View_Item_Mark_Critical_Background_Selected_Hover);
            }
        }

        &.muted {
            color: var(--triplex-next-Calendar-View_Item_Color_Selected_Muted_Default);
            background: var(--triplex-next-Calendar-View_Item_Background_Selected_Muted_Default);

            &:hover {
                color: var(--triplex-next-Calendar-View_Item_Color_Selected_Muted_Hover);
                background: var(--triplex-next-Calendar-View_Item_Background_Selected_Muted_Hover);
            }
        }

        &.basicMark::after {
            background: var(--triplex-next-Calendar-View_Item_Mark_Basic_Background_Selected_Default);
        }

        &.standardMark::after {
            background: var(--triplex-next-Calendar-View_Item_Mark_Standard_Background_Selected_Default);
        }

        &.attentionMark::after {
            background: var(--triplex-next-Calendar-View_Item_Mark_Attention_Background_Selected_Default);
        }

        &.criticalMark::after {
            background: var(--triplex-next-Calendar-View_Item_Mark_Critical_Background_Selected_Default);
        }
    }

    &.marked::after {
        content: '';
        display: block;
        position: absolute;
        left: calc(50% - 6px / 2);
        bottom: 2px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        pointer-events: none;
    }

    &.basicMark::after {
        background: var(--triplex-next-Calendar-View_Item_Mark_Basic_Background_Default);
    }

    &.standardMark::after {
        background: var(--triplex-next-Calendar-View_Item_Mark_Standard_Background_Default);
    }

    &.attentionMark::after {
        background: var(--triplex-next-Calendar-View_Item_Mark_Attention_Background_Default);
    }

    &.criticalMark::after {
        background: var(--triplex-next-Calendar-View_Item_Mark_Critical_Background_Default);
    }

    &.disabled {
        color: var(--triplex-next-Calendar-View_Item_Color_Disabled);
        background: none;
    }
}

.calendarViewItem:focus-visible {
    .calendarViewItemLabel {
        border-color: var(--triplex-next-Calendar-View_Item_BorderColor_Focus);
    }
}

.unitDay {
    width: 36px;
    height: 36px;
    border-radius: 6px;
}

.unitMonth,
.unitYear {
    width: 88px;
    height: 48px;
    border-radius: 6px;

    .adaptive & {
        width: 104px;
        height: 56px;
        border-radius: 10px;
    }
}
