@button-height-lg: 56px;
@button-height-md: 40px;
@button-height-sm: 28px;

@button-min-width-lg: 84px;
@button-min-width-md: 72px;
@button-min-width-sm: 58px;
@button-min-width-link: 0;

@button-padding-horizontal-lg: 24px;
@button-padding-horizontal-md: 20px;
@button-padding-horizontal-sm: 16px;

@button-padding-horizontal-link: 2px;

@button-padding-vertical-lg: 18px;
@button-padding-vertical-md: 10px;
@button-padding-vertical-sm: 6px;

@button-siblings-margin-left: 16px;

.button-padding(@padding-horizontal, @padding-vertical) {
    padding: @padding-vertical @padding-horizontal;
    @line-height: 20px;
}

.button-size(@height, @min-width) {
    height: @height;
    min-width: @min-width;
}

.size-SM(@min-width: @button-min-width-sm,
@padding-horizontal: @button-padding-horizontal-sm) {
    .button-size(@button-height-sm, @min-width);
    .button-padding(@padding-horizontal, @button-padding-vertical-sm);
}

.size-MD(@min-width: @button-min-width-md,
@padding-horizontal: @button-padding-horizontal-md) {
    .button-size(@button-height-md, @min-width);
    .button-padding(@padding-horizontal, @button-padding-vertical-md);
}

.size-LG(@min-width: @button-min-width-lg,
@padding-horizontal: @button-padding-horizontal-lg) {
    .button-size(@button-height-lg, @min-width);
    .button-padding(@padding-horizontal, @button-padding-vertical-lg);
}
