@button-height-lg: 56px;
@button-height-md: 40px;
@button-height-sm: 28px;

@button-min-width-lg: 96px;
@button-min-width-md: 96px;
@button-min-width-sm: 80px;
@button-min-width-link-lg: 0;
@button-min-width-link-md: 0;
@button-min-width-link-sm: 0;

@button-padding-horizontal-lg: 24px;
@button-padding-horizontal-md: 20px;
@button-padding-horizontal-sm: 16px;
@button-padding-horizontal-link-lg: 2px;
@button-padding-horizontal-link-md: 2px;
@button-padding-horizontal-link-sm: 2px;

@button-padding-vertical-link-lg: 14px;
@button-padding-vertical-link-md: 6px;
@button-padding-vertical-link-sm: 4px;

@button-padding-vertical-lg: 10px;
@button-padding-vertical-md: 10px;
@button-padding-vertical-sm: 6px;

@button-siblings-margin-left: 16px;

.button-padding(@height, @padding-horizontal) {
    padding: (@height - @line-height) * 0.5 @padding-horizontal;
    @line-height: 20px;
}

.button-size(@height, @min-width) {
    height: @height;
    min-width: @min-width;
}

.size-SM(@min-width: @button-min-width-sm,
@padding-horizontal: @button-padding-horizontal-sm) {
    .button-size(@button-height-sm, @min-width);
    .button-padding(@button-height-sm, @padding-horizontal);
}

.size-MD(@min-width: @button-min-width-md,
@padding-horizontal: @button-padding-horizontal-md) {
    .button-size(@button-height-md, @min-width);
    .button-padding(@button-height-md, @padding-horizontal);
}

.size-LG(@min-width: @button-min-width-lg,
@padding-horizontal: @button-padding-horizontal-lg) {
    .button-size(@button-height-lg, @min-width);
    .button-padding(@button-height-lg, @padding-horizontal);
}
