/*
  Breakpoint для экранов менее 1024px, Controls в этом случае отобрахается наверху LightBox.
*/
@lightBox-media-point-0: 1024px;

// Ширина SideOverlayLG.
@sideOverlayLGWidth: 800px + @page-padding-desktop-x * 2;
// Ширина SideOverlayMD.
@sideOverlayMDWidth: 680px + @page-padding-desktop-x * 2;
// Ширина SideOverlaySM.
@sideOverlaySMWidth: 520px + @page-padding-desktop-x * 2;

// Fallback максимальной ширины контента LightBox для использования вне контекста LightBox.
@lightBox-content-max-width-fallback: 864px;
// Ширина контента LightBox в зависимости от размера.
@lightBox-content-max-width-sm: 664px;
@lightBox-content-max-width-md: 864px;
@lightBox-content-max-width-lg: 1064px;
@lightBox-content-max-width-xl: 1264px;

// Ширина кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsButtonWidth: 56px;
// Отступ справа для кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsCloseButtonMarginRight: 24px;
// Отступ справа для кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsNextButtonMarginRight: 24px;
// Отступ слева для кнопки в LightBoxControls для экранов шире 1024px.
@lightBoxControlsPrevButtonMarginLeft: 24px;

// Отступы по горизонтали для контента LightBox.
@lightBoxContentMarginX: 16px;