/*
  Breakpoint для экранов менее 1024px, Controls в этом случае отобрахается наверху LightBox.
*/
@lightBox-media-point-0: 1024px;

// Ширина SideOverlayLG без учета тени.
@sideOverlayLGWidth: 800px;
// Ширина SideOverlayMD без учета тени.
@sideOverlayMDWidth: 600px;
// Ширина SideOverlaySM без учета тени.
@sideOverlaySMWidth: 480px;
