// .chipGroupItem не всегда является .chip, например в Select или MultiSelect .chip лежит внутри .chipGroupItem.
.chipGroupItem {
    display: inline-block;
}

.chip {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 2px;
    box-sizing: border-box;
    min-width: 40px;
    max-width: 264px;
    flex-shrink: 0;
    // Без этого свойства, чипсы с иконкой прыгают вверх.
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    color: var(--triplex-next-Chip-Color_Default);

    &.lg {
        height: 56px;
        padding: 0 16px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 10px;

        .prefix {
            padding-left: 16px;
        }

        .postfix {
            padding-right: 12px;
        }

        .notificationIcon {
            top: 6px;
            right: 6px;
        }
    }

    &.md {
        height: 40px;
        padding: 0 12px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 8px;

        .prefix {
            padding-left: 12px;
        }

        .postfix {
            padding-right: 8px;
        }

        .notificationIcon {
            top: 4px;
            right: 4px;
        }
    }

    &.sm {
        height: 28px;
        padding: 0 12px;
        font-size: 12px;
        line-height: 16px;
        border-radius: 6px;

        .prefix {
            padding-left: 8px;
        }

        .postfix {
            padding-right: 8px;
        }

        .notificationIcon {
            top: 3px;
            right: 3px;
        }
    }

    &.type1 {
        background: var(--triplex-next-Chip-Background_Type1_Default);

        &:hover {
            background: var(--triplex-next-Chip-Background_Type1_Hover);
        }
    }

    &.type2 {
        background: var(--triplex-next-Chip-Background_Type2_Default);

        &:hover {
            background: var(--triplex-next-Chip-Background_Type2_Hover);
        }
    }

    &:hover {
        color: var(--triplex-next-Chip-Color_Hover);
    }

    &:focus-visible {
        box-shadow: var(--triplex-next-Chip-Shadow_Focus);
    }

    &:active,
    &[aria-expanded="true"] {
        background: var(--triplex-next-Chip-Background_Active);
        color: var(--triplex-next-Chip-Color_Active);
    }

    &.selected {
        background: var(--triplex-next-Chip-Background_Selected_Default);
        color: var(--triplex-next-Chip-Color_Selected_Default);

        &:hover {
            background: var(--triplex-next-Chip-Background_Selected_Hover);
            color: var(--triplex-next-Chip-Color_Selected_Hover);
        }

        &:active,
        &[aria-expanded="true"] {
            background: var(--triplex-next-Chip-Background_Selected_Active);
            color: var(--triplex-next-Chip-Color_Selected_Active);
        }

        &.disabled {
            background: var(--triplex-next-Chip-Background_Selected_Disabled);
            color: var(--triplex-next-Chip-Color_Selected_Disabled);
        }
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        background: var(--triplex-next-Chip-Background_Disabled);
        color: var(--triplex-next-Chip-Color_Disabled);
    }

    &.withPrefix {
        padding-left: 0;
    }

    &.withPostfix {
        padding-right: 0;
    }

    .content {
        flex-grow: 1;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .prefix {
        display: flex;
    }

    .postfix {
        display: flex;
    }

    .notificationIcon {
        position: absolute;
    }
}
