@import 'src/styles/style';

.modalWindowClose {
    position: absolute;
    top: 46px;
    right: 46px;
}

@media (max-width: @screen-sm-max) {
    .modalWindowClose {
        top: 28px;
        right: 28px;
    }
}
