@import 'src/styles/style';

.modalWindowClose {
    position: absolute;
    top: 24px;
    right: 24px;
    // z-index: @z-index-spinner-widget + @z-index-step / 2;
}

@media (max-width: @screen-sm-max) {
    .modalWindowClose {
        top: 16px;
        right: 16px;
    }
}
