@import 'src/styles/style';

.modalWindowClose {
    position: absolute;
    top: 48px;
    right: 48px;
}

@media (max-width: @screen-sm-max) {
    .modalWindowClose {
        top: 32px;
        right: 32px;
    }
}
