.positiveColor {
    span {
        font-size: 14px !important;
        color: #008985 !important;
    }
}

.negativeColor {
    span {
        font-size: 14px !important;
        color: #D10032 !important;
    }
}

.accent {
    font-weight: 600 !important;
}