@import "../../../styles/style";

.step {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    cursor: default;
    border-radius: 50%;

    &.sm,
    &.md {
        width: 28px;
        height: 28px;
    }

    &.lg {
        width: 32px;
        height: 32px;
    }

    &.default {
        background-color: var(--triplex-next-Step-Background_Default);

        & > span {
            color: var(--triplex-next-Step-Color_Default);
        }
    }

    &.done {
        background-color: var(--triplex-next-Step-Background_Done);

        & > span {
            color: var(--triplex-next-Step-Color_Done);
        }
    }

    &.warning {
        background-color: var(--triplex-next-Step-Background_Warning);

        & > span {
            color: var(--triplex-next-Step-Color_Warning);
        }
    }

    &.active {
        background-color: var(--triplex-next-Step-Background_Active);

        & > span {
            color: var(--triplex-next-Step-Color_Active);
        }
    }

    &.error {
        background-color: var(--triplex-next-Step-Background_Error);

        & > span {
            color: var(--triplex-next-Step-Color_Error);
        }
    }

    &.disabled {
        background-color: var(--triplex-next-Step-Background_Disabled);

        & > span {
            color: var(--triplex-next-Step-Color_Disabled);
        }
    }
}

@media (max-width: @screen-sm-max) {
    .step {
        &.lg {
            width: 28px;
            height: 28px;
        }
    }
}
