.step {
    font-weight: 600;
    font-family: 'SBSansUI', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    user-select: none;
    cursor: default;
    border-radius: 50%;

    &.success {
        color: var(--triplex-next-Step-Color_Success);
        background-color: var(--triplex-next-Step-Background_Success);
    }

    &.warning {
        color: var(--triplex-next-Step-Color_Warning);
        background-color: var(--triplex-next-Step-Background_Warning);
    }

    &.wait {
        color: var(--triplex-next-Step-Color_Wait);
        background-color: var(--triplex-next-Step-Background_Wait);
    }

    &.error {
        color: var(--triplex-next-Step-Color_Error);
        background-color: var(--triplex-next-Step-Background_Error);
    }

    &.disabled {
        color: var(--triplex-next-Step-Color_Disabled);
        background-color: var(--triplex-next-Step-Background_Disabled);
    }
}
