.ellipsisLineClamp {
    padding: 0;
    display: -webkit-box;
    -webkit-line-clamp: var(--triplex-next-runtime-Ellipsis-Root_LineClamp, 1);
    line-clamp: var(--triplex-next-runtime-Ellipsis-Root_LineClamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-break: break-word;

    &.oneLine {
        word-break: break-all;
    }
}
