.notificationBodyTextArea {
    margin-top: 16px;
}

.notificationBodyCheckbox {
    margin-top: 16px;
}

&.finalStatus {
    text-align: center;
    padding-left: 16px;

    :first-child {
        align-items: center;
    }
}
