.tabsExtendedTabButton {
    font-family: inherit;
    margin: 0;
    flex-shrink: 0;
    border: 1px solid var(--triplex-next-Tabs-Tab_BorderColor_Default);

    outline: none;
    cursor: pointer;
    white-space: nowrap;
    position: relative;
    overflow: visible;

    .notificationIcon {
        position: absolute;
    }

    &.lg {
        border-radius: 6px;
        padding: 9px 16px;

        .notificationIcon {
            right: 6px;
            top: 6px;
        }
    }

    &.md {
        border-radius: 4px;
        padding: 5px 16px;

        .notificationIcon {
            right: 4px;
            top: 4px;
        }
    }

    &.sm {
        border-radius: 4px;
        padding: 1px 16px;

        .notificationIcon {
            right: 3px;
            top: 3px;
        }
    }

    .tabsExtendedTabButtonTextDefault {
        display: block;
    }

    .tabsExtendedTabButtonTextHover {
        display: none;
    }

    &:hover,
    &.selected {
        .tabsExtendedTabButtonTextDefault {
            display: none;
        }

        .tabsExtendedTabButtonTextHover {
            display: block;
        }
    }

    &::-moz-focus-inner {
        border: none;
    }

    & + .tabsExtendedTabButton {
        margin-left: 2px;
    }

    &:focus-visible {
        border-color: var(--triplex-next-Tabs-Tab_BorderColor_Focus);
    }

    &.type1 {
        background: var(--triplex-next-Tabs-Type1_Tab_Background_Default);

        &.selected {
            background: var(--triplex-next-Tabs-Type1_Tab_Background_Selected);
        }

        &:hover {
            background: var(--triplex-next-Tabs-Type1_Tab_Background_Hover);
        }
    }

    &.type2 {
        background: var(--triplex-next-Tabs-Type2_Tab_Background_Default);

        &.selected {
            background: var(--triplex-next-Tabs-Type2_Tab_Background_Selected);
        }

        &:hover {
            background: var(--triplex-next-Tabs-Type2_Tab_Background_Hover);
        }
    }
}
