@import "src/styles/style";

.listTableItem {
    margin-bottom: 4px;

    &:last-child {
        margin-bottom: 0;
    }

    .swipeableArea {
        border-radius: @list-item-border-radius;
    }

    .content {
        // Минимальная высота, из-за блока Action с кнопками при свайпе.
        min-height: 56px;
    }
}
