@import "src/styles/style";

.listItemAction {
    border: 1px solid transparent;
    cursor: pointer;

    &:focus-visible {
        border-color: var(--triplex-next-ListItem-BorderColor_Focus);
        outline: none;
    }
}
