@import "src/styles/style";

.listItemContent {
    background: var(--triplex-next-ListItem-Background);
    padding: 12px 0 12px 16px;
    box-sizing: border-box;

    &.selected {
        background: var(--triplex-next-ListItem-Background_Selected);
    }

    &.selectable {
        border-radius: @list-item-border-radius;
    }

    &.action {
        &:hover {
            background: var(--triplex-next-ListItem-Background_Hover);
        }
    }
}
