@import "src/styles/style";

.listActionItem {
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
        background: var(--triplex-next-ListItem-Background_Hover);
    }

    &:focus-visible {
        border-color: var(--triplex-next-ListItem-BorderColor_Focus);
        outline: none;
    }
}
