@import "../../../styles/style";

.headerTabs {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    .headerTabsContent {
        flex-grow: 1;
        // Исправление бага с компонентом Tabs внутри HeaderTabs.
        min-width: 1px;
    }

    .headerTabsControls {
        flex-shrink: 0;
        white-space: nowrap;
        padding-left: 24px;
    }
}

// На мобильных устройствах блок с кнопками располагается строкой ниже.
@media (max-width: @screen-sm-max) {
    .headerTabs {
        flex-wrap: wrap;
        gap: 16px;
        margin-top: 16px;

        .headerTabsControls {
            display: flex;
            flex-wrap: wrap;
            gap: 16px 12px;
            flex-shrink: initial;
            padding-left: 0;

            // Переопределение правила отступов между двумя соседними кнопками.
            > button {
                margin-left: 0 !important;
            }
        }
    }
}
