@import '../../../styles/style';

.header {
    &.sticky {
        z-index: @page-header-sticky-z-index;
        position: sticky;
        top: 0;
    }

    .headerTabs:first-child {
        padding-top: 24px;
    }

    .headerTitle + .headerTabs {
        padding-bottom: 24px;
    }

    @media (max-width: @screen-sm-max) {
        .headerTabs:first-child {
            padding-top: 16px;
        }

        .headerTabs + .headerTitle {
            padding-top: 16px;
        }

        .headerTitle + .headerTabs {
            margin-top: -4px;
            padding-bottom: 24px;
        }
    }
}
