.container {
    padding: 20px;
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 16px;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.tokenList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.token {
    display: flex;
    padding-bottom: 10px;
}

.tokenName {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 10%;
}

.tokenColor {
    width: 100px;
    height: 80px;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    box-shadow: 0rem 0.2rem 0.6rem 0rem hsla(0, 0%, 0%, 0.3);
}

.tokenValue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-left: 20px;
    font-weight: 500;
}

.variable {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    font-size: inherit;
}
