@import "src/styles/style";

.confirmCloseButton {
    position: absolute;
    top: 24px;
    right: 24px;
}

.confirmContent {
    margin-bottom: 32px;
}

.confirmControls {
    white-space: nowrap;
}

@media (max-width: @screen-sm-max) {
    .confirmCloseButton {
        top: 16px;
        right: 16px;
    }

    .confirmContent {
        margin-bottom: 16px;
    }
}
