.multiselectFieldContentWrapper {
    padding: 0 12px;

    .multiselectFieldContent {
        padding-bottom: 12px;
        box-sizing: border-box;
        overflow-y: auto;
        outline: none;

        &.sm {
            height: 204px;
        }

        &.md {
            height: 245px;
        }

        &.lg {
            height: 324px;
        }
    }
}
