@import "src/styles/style";

.skeleton {
    border-radius: 16px;
    flex-grow: 1;

    &.type1 {
        animation: skeleton-type1-pulse 2s ease-in-out infinite;
    }

    &.type2 {
        animation: skeleton-type2-pulse 2s ease-in-out infinite;
    }

    &.type3 {
        animation: skeleton-type3-pulse 2s ease-in-out infinite;
    }
}

@keyframes skeleton-type1-pulse {
    0% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type1_Start);
    }
    50% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type1_End);
    }
    100% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type1_Start);
    }
}

@keyframes skeleton-type2-pulse {
    0% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type2_Start);
    }
    50% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type2_End);
    }
    100% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type2_Start);
    }
}

@keyframes skeleton-type3-pulse {
    0% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type3_Start);
    }
    50% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type3_End);
    }
    100% {
        background-color: var(--triplex-next-Skeleton-BackgroundColor_Type3_Start);
    }
}
