.pageEllipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    color: var(--triplex-next-TableBasic-PaginationBasic_Color);
    cursor: default;
}
