@import 'src/styles/style';

.lightBoxControls {
    box-sizing: border-box;
    top: 0;
    top: var(--lightBox-screen-top);
    position: fixed;
    background-color: blue;
    height: @lightBox-controls-opened-height;
    z-index: 150;
}

.withKeyboardEvent {
    display: inline-block;
}

.withoutKeyboardEvent {
    display: none;
}

.lightBox.lightBoxSideOverlayActive,
.lightBox.lightBoxTopOverlayActive,
.lightBox.isLoading {
    .withKeyboardEvent {
        display: none;
    }

    .withoutKeyboardEvent {
        display: inline-block;
    }
}

.lightBox.isLoading {
    .lightBoxPrev,
    .lightBoxNext {
        display: none;
    }
}

.lightBoxClose {
    position: fixed;
    right: 24px;
    top: calc(16px + var(--lightBox-screen-top));
}
