@import 'src/styles/style';

.lightBoxControls {
    z-index: 100;
}

.withKeyboardEvent {
    display: inline-block;
}

.withoutKeyboardEvent {
    display: none;
}

.lightBox.lightBoxSideOverlayActive,
.lightBox.lightBoxTopOverlayActive,
.lightBox.isLoading {
    .withKeyboardEvent {
        display: none;
    }

    .withoutKeyboardEvent {
        display: inline-block;
    }
}

.lightBox.isLoading {
    .lightBoxPrev,
    .lightBoxNext {
        display: none;
    }
}


each(@scroll-sizes, {
    @scroll-width: @value;
    @scroll-width-px: ~'@{scroll-width}px';
    // Ширина экрана без скрола.
    @screen-width-without-scroll: calc(var(--lightBox-screen-width) - @scroll-width-px);

    html.scroll-@{scroll-width} {
        /*
          Breakpoint для экранов менее 1024px.
          < 1024px
        */
        .LB-less-or-equal-media-point-0-no-hash {
            // Ширина лайтбокса/контролов/хедера/футера.
            @lightBox-content-width: @screen-width-without-scroll;
            // Левая позиция лайтбокса.
            @lightBox-content-left: 0;


            .lightBoxControls {
                background-color: yellow;
                position: absolute;
                left: @lightBox-content-left;
                width: @lightBox-content-width;
                top: 0;
                padding: 16px;
            }

            .lightBoxClose {
                position: absolute;
                right: 40px;
                top: 16px;
            }

            .lightBoxPrev,
            .lightBoxNext {
                user-select: none;
                display: inline-block;
            }
            
            .lightBoxPrev {
                margin-right: 16px;
            }
        }

        /*
          Breakpoint для экранов шире 1024px.
          > 1024px
        */
        .LB-more-media-point-0-no-hash {
            .lightBoxControls {
                position: static;
            }

            .lightBoxClose {
                position: fixed;
                right: 40px;
                top: calc(40px + var(--lightBox-screen-top));
            }
            
            .lightBoxPrev,
            .lightBoxNext {
                user-select: none;
                position: fixed;
                top: 50%;
                transform: translateY(-50%);
            }
            
            .lightBoxPrev {
                left: 40px;
            }
            
            .lightBoxNext {
                right: 40px;
            }
        }
    }
})
