.formFieldClear {
    visibility: hidden;
    opacity: 0;
    transition: visibility, opacity;
    transition-duration: 0.3s;
    pointer-events: none;

    &:focus {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
    }
}
