.formFieldTarget {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    color: var(--triplex-next-FormField-Target_Color_Default);

    &.placeholder {
        color: var(--triplex-next-FormField-Target_PlaceholderColor_Default);
    }

    &.disabled {
        color: var(--triplex-next-FormField-Target_Color_Disabled);
    }

    &.size-sm {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        height: 28px;
        line-height: 16px;
    }

    &.size-md {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        height: 40px;
        line-height: 20px;
    }

    &.size-lg {
        padding-top: 26px;
        padding-bottom: 10px;
        height: 56px;
        line-height: 20px;
        font-size: 16px;
    }
}
