.formFieldInput {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    -webkit-appearance: none; // iOS fix
    color: var(--triplex-next-FormField-Input_Color_Default);

    &:disabled {
        color: var(--triplex-next-FormField-Input_Color_Disabled);
    }

    &::placeholder {
        color: var(--triplex-next-FormField-Placeholder_Color);
        opacity: 0;
        transition: opacity .3s ease-out;
    }

    &:focus {
        &::placeholder {
            opacity: 1;
        }

        outline: none;
    }

    // Создаём хук для отслеживания применения автозаполнения.
    &:-webkit-autofill {
        animation-name: autofill-applied-hook;
        animation-duration: 1ms;
    }

    // Создаём хук для отслеживания отмены автозаполнения.
    &:not(:-webkit-autofill) {
        animation-name: autofill-cancelled-hook;
        animation-duration: 1ms;
    }

    &.size-sm {
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: 12px;
        height: 28px;
        line-height: 16px;
    }

    &.size-md {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        height: 40px;
        line-height: 20px;
    }

    &.size-lg {
        padding-top: 26px;
        padding-bottom: 10px;
        height: 56px;
        line-height: 20px;
        font-size: 16px;
    }
}

@keyframes autofill-applied-hook {
    0% {
        transform: none;
    }
}

@keyframes autofill-cancelled-hook {
    0% {
        transform: none;
    }
}