@import "./mixins";

.formFieldInput {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    border: none;
    background: none;
    appearance: none;
    color: var(--triplex-next-FormField-Input_Color_Default);

    .form-field-input-sizes();

    &:disabled {
        color: var(--triplex-next-FormField-Input_Color_Disabled);
    }

    &::placeholder {
        color: var(--triplex-next-FormField-Placeholder_Color);
        opacity: 0;
        transition: opacity 0.3s ease-out;
    }

    &:focus {
        outline: none;

        &::placeholder {
            opacity: 1;
        }
    }

    // Создаём хук для отслеживания применения автозаполнения.
    &:-webkit-autofill {
        animation-name: autofill-applied-hook;
        animation-duration: 1ms;

        // https://stackoverflow.com/questions/2781549/
        transition: background-color 5000s ease-in-out 0s;
    }

    // Создаём хук для отслеживания отмены автозаполнения.
    &:not(:-webkit-autofill) {
        animation-name: autofill-cancelled-hook;
        animation-duration: 1ms;
    }
}

@keyframes autofill-applied-hook {
    0% {
        transform: none;
    }
}

@keyframes autofill-cancelled-hook {
    0% {
        transform: none;
    }
}
