@import "./mixins";

.formFieldMaskedInputWrapper {
    position: relative;
    overflow: hidden;
}

.maskLayout {
    .form-field-input-mirror-layer();
    .form-field-input-sizes();
}

.valueMirror {
    color: transparent;
}

.placeholderMask {
    color: var(--triplex-next-FormField-Placeholder_Color);

    &.disabled {
        color: var(--triplex-next-FormField-Input_Color_Disabled);
    }
}
