.badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    white-space: nowrap;
    background: var(--triplex-next-Badge-Background);

    &.sm {
        min-width: 6px;
        min-height: 6px;
        border-radius: 4px;
    }

    &.md {
        min-width: 8px;
        min-height: 8px;
        border-radius: 6px;
    }

    &.lg {
        min-width: 10px;
        min-height: 10px;
        border-radius: 8px;
    }
}
