.marker {
    border-radius: 50%;

    &.md {
        width: 8px;
        height: 8px;
    }

    &.lg {
        width: 10px;
        height: 10px;
    }

    &.success {
        background: var(--triplex-next-Marker-Background_Success);
    }

    &.error {
        background: var(--triplex-next-Marker-Background_Error);
    }

    &.warning {
        background: var(--triplex-next-Marker-Background_Warning);
    }

    &.waiting {
        background: var(--triplex-next-Marker-Background_Waiting);
    }
}
