@import "src/styles/style";

.keyframes-fadeIn();

.masterTableContent {
    position: relative;

    .loaderScreen {
        top: 16px;
        z-index: @z-index-step;
        border-radius: 8px;
        animation: fadeIn 0.3s;
    }
}
