.caption {
    &.regular {
        font-family: 'SBSansText', 'Arial', sans-serif;
    }
    
    &.semibold {
        font-family: 'SBSansTextSemibold', 'Arial', sans-serif;
        font-weight: 600;
    }
}

.c1 {
    font-size: 10px;
    line-height: 12px;
}

.c2 {
    font-size: 8px;
    line-height: 10px;
}

.d1 {
    font-size: 32px;
    line-height: 40px;

    &.regular {
        font-family: 'SBSansDisplay', 'Arial', sans-serif;
    }

    &.semibold {
        font-family: 'SBSansDisplaySemibold', 'Arial', sans-serif;
        font-weight: 600;
    }
}