.caption {
    &.regular {
        font-family: 'SBSansText';
    }
    
    &.semibold {
        font-family: 'SBSansTextSemibold';
    }
}

.c1 {
    font-size: 10px;
    line-height: 12px;
}

.c2 {
    font-size: 8px;
    line-height: 10px;
}

.d1 {
    font-size: 32px;
    line-height: 40px;

    &.regular {
        font-family: 'SBSansDisplay';
    }

    &.semibold {
        font-family: 'SBSansDisplaySemibold';
    }
}