.button-dropdown-example {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    width: 600px;
    padding: 16px;

    .theme-light & {
        background-color: #dcdfe4;
    }
}
