@import "src/styles/style";

.islandWidgetHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;

    .islandWidgetHeaderTitle {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .islandWidgetHeaderControls {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .islandWidgetHeaderDescription {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    .caretWrapper {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .caretIcon {
        transition: transform 0.3s ease-in-out;
    }

    &.open .caretWrapper .caretIcon {
        transform: rotate(-180deg);
    }
}

@media (max-width: @screen-sm-max) {
    .islandWidgetHeader {
        flex-wrap: wrap;
        padding-right: 32px;

        .islandWidgetHeaderTitle {
            white-space: normal;
        }

        .islandWidgetHeaderDescription {
            flex-basis: 100%;
            justify-content: flex-start;
        }
    }
}
