@import "src/styles/style";

.islandWidgetFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.islandWidgetFooterContent {
    flex-grow: 1;
    margin-right: auto;
}

.islandWidgetFooterControls {
    margin-left: auto;
    white-space: nowrap;
}


@media (max-width: @screen-sm-max) {
    .islandWidgetFooter {
        flex-direction: column;
        gap: 16px;
    }

    .islandWidgetFooterControls {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        margin: 0 auto 0 0;

        // Переопределение правила отступов между двумя соседними кнопками.
        > button {
            margin-left: 0 !important;
        }
    }
}