.islandWidgetFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
}

.islandWidgetExtraFooter {
    background-color: var(--triplex-next-IslandWidget-ExtraFooter_Background);
    margin-top: -24px;
    padding-top: 24px;
    height: 64px;
    border-radius: 0 0 32px 32px;
}
