.islandWidgetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    .islandWidgetHeaderContent {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .islandWidgetHeaderDescription {
        display: flex;
    }
}

