.listMasterFooter {
    padding: 16px;
    background: var(--triplex-next-ListMaster-Footer_Background);
    box-shadow: var(--triplex-next-ListMaster-Footer_Shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &.sticky {
        position: sticky;
        bottom: 0;
    }
}

.listMasterFooterDescription {
    padding-right: 16px;
}

.listMasterFooterControls {
    white-space: nowrap;
}
