.link {
    cursor: pointer;
    margin: -1px -3px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;

    & * {
        color: var(--triplex-next-Link-Text_Color_Default) !important;

        &:hover {
            color: var(--triplex-next-Link-Text_Color_Hover) !important;
        }
    
        &:active {
            color: var(--triplex-next-Link-Text_Color_Active) !important;
        }
    }

    &:focus-visible {
        box-shadow: var(--triplex-next-Link-BorderColor_Focus);
    }
}

.after :last-child {
    margin-left: 4px;
}
