.link {
    cursor: pointer;
    padding: 0 2px;
    margin: -1px -3px;
    box-shadow: var(--triplex-next-Link-BorderColor_Default);

    &:focus {
        outline: none;

        &.focusVisible {
            box-shadow: var(--triplex-next-Link-BorderColor_Focus);
        }
    }
}

.sm {
    font-size: 12px;
}

.lg {
    font-size: 14px;
}

.text {
    position: relative;
    color: var(--triplex-next-Link-Text_Color_Default);
    text-decoration: none;

    &:hover {
        color: var(--triplex-next-Link-Text_Color_Hover);
    }

    &:active {
        color: var(--triplex-next-Link-Text_Color_Active);
    }
}

.wordWithContent {
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
}

.after :last-child {
    margin-left: 4px;
}
