@import "src/styles/style";

.bodyPage {
    flex-grow: 1;
}

.marginTopLarge {
    margin-top: 24px;
}

.marginTopSmall {
    margin-top: 16px;
}

.marginTopNone {
    margin-top: 0;
}

.marginBottomLarge {
    margin-bottom: 24px;
}

.marginBottomSmall {
    margin-bottom: 16px;
}

.marginBottomNone {
    margin-bottom: 0;
}

@media (max-width: @screen-sm-max) {
    .marginTopLarge {
        margin-top: 16px;
    }
    .marginTopSmall {
        margin-top: 8px;
    }
    .marginBottomLarge {
        margin-bottom: 16px;
    }
    .marginBottomSmall {
        margin-bottom: 8px;
    }
}
