@import '../../../styles/style';

.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding: 24px;
    box-sizing: border-box;
    background-color: var(--triplex-next-Page-Background);
}

.headerPageTypeFirst,
.footerPageTypeFirst {
    padding-bottom: 24px;
}

.headerPageTypeSecond {
    z-index: @page-header-sticky-z-index;
    position: sticky;
    top: 0;
    transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    border-top-left-radius: var(--r-top, 1px) !important;
    border-top-right-radius: var(--r-top, 1px) !important;

    &[data-stuck="true"] {
        box-shadow: var(--triplex-next-HeaderPage-StickyShadow) !important;
    }
}

.footerPageTypeSecond {
    z-index: @page-header-sticky-z-index;
    position: sticky;
    bottom: 0;
    transition: border-radius 0.2s ease, box-shadow 0.2s ease;
    border-bottom-left-radius: var(--r-bottom, 1px) !important;
    border-bottom-right-radius: var(--r-bottom, 1px) !important;

    &[data-stuck="true"] {
        box-shadow: var(--triplex-next-HeaderPage-StickyShadow) !important;
    }
}

.bodyPage {
    flex-grow: 1;
}
