.tabs-type1-example,
.tabs-type2-example {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 600px;
}

.tabs-type2-example {
    .theme-light & {
        background-color: #eaedf1;
    }

    .theme-dark & {
        background-color: #171719;
    }
}
