@import '../../../styles/style';

.dropdownDesktop {
    position: fixed;
    z-index: @z-index-dropdown;
    box-sizing: border-box;
    box-shadow: var(--triplex-next-Dropdown-Shadow);
    background-color: var(--triplex-next-Dropdown-Background);
}

.dropdownDesktop-sm {
    border-radius: 6px;
}

.dropdownDesktop-md {
    border-radius: 8px;
}

.dropdownDesktop-lg {
    border-radius: 10px;
}

.dropdownDesktopOverflowHidden {
    overflow: hidden;
}
