@import '../../../styles/style';

.dropdown {
    position: fixed;
    z-index: @z-index-dropdown;
    box-sizing: border-box;
    box-shadow: var(--triplex-next-Dropdown-Shadow);
    background-color: var(--triplex-next-Dropdown-Background);
    border-radius: 8px;
}

.dropdownOverflowHidden {
    overflow: hidden;
}