@import '../../../styles/style';

.dropdown {
    position: fixed;
    z-index: @z-index-dropdown;
    box-sizing: border-box;
    box-shadow: var(--triplex-next-Dropdown-Shadow);
    background-color: var(--triplex-next-Dropdown-Background);
}

.dropdown-sm {
    border-radius: 6px;
}

.dropdown-md {
    border-radius: 8px;
}

.dropdown-lg {
    border-radius: 10px;
}

.dropdownOverflowHidden {
    overflow: hidden;
}