.island-accordion-example {
    width: 700px;
    padding: 60px;

    .theme-light & {
        background-color: #e3e6ea;
    }

    .island-accordion-item-footer {
        display: flex;
        justify-content: flex-end;
    }
}