.markerWrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    user-select: none;
}

.marker {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 8px 5px 8px 1px;
    background-color: currentcolor;
    border-radius: 50%;
}
