.status-tracker-wrapper {
    max-width: 372px;
    padding: 24px;
    background: #E9EDF1;

    & .theme-dark {
        background: #000000;
    }
}

.status-tracker-wide-wrapper {
    max-width: 600px;
}
