.dateRange {
    display: flex;
    align-items: flex-start;

    &:has([class*="sm"]) {
        .dateRangeButton,
        .separator {
            margin-top: 4px;
        }
    }

    &:has([class*="md"]) {
        .dateRangeButton,
        .separator {
            margin-top: 10px;
        }
    }

    &:has([class*="lg"]) {
        .dateRangeButton,
        .separator {
            margin-top: 18px;
        }
    }
}

.dateRangeButton {
    z-index: 1;
}

.separator {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}
