.dateRange {
    display: flex;
    align-items: flex-start;

    &:has([class*="sm"]) {
        .dateRangeButton,
        .separator {
            margin-top: 6px;
        }
    }

    &:has([class*="md"]) {
        .dateRangeButton,
        .separator {
            margin-top: 12px;
        }
    }

    &:has([class*="lg"]) {
        .dateRangeButton,
        .separator {
            margin-top: 20px;
        }
    }
}

.dateRangeButton {
    z-index: 1;
}

.separator {
    flex-shrink: 0;
}
