body {
	font-family: 'SBSansText';
}

.theme-dark > body {
    color: rgb(201, 205, 207);
    background-color: rgb(24, 24, 25);
}
.theme-light > body {
    color: rgb(24, 24, 25);
    background-color: rgb(255, 255, 255);
}

@font-face {
	font-family: 'SBSansText';
	src: url('/assets/fonts/SBSansText-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SBSansTextSemibold';
	src: url('/assets/fonts/SBSansText-Semibold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SBSansDisplayBold';
	src: url('/assets/fonts/SBSansDisplay-Bold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SBSansDisplayMedium';
	src: url('/assets/fonts/SBSansDisplay-Medium.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SBSansDisplay';
	src: url('/assets/fonts/SBSansDisplay-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SBSansDisplaySemibold';
	src: url('/assets/fonts/SBSansDisplay-SemiBold.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}