@import "src/styles/style";

.thumbnails {
    position: relative;

    &:hover .button {
        opacity: 1;
        pointer-events: auto;
    }
}

.thumb {
    flex: 0 0 auto;
    display: block;
    margin: 0;
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 12px;
    background: transparent;
    cursor: pointer;
    outline: none;
    transition: border-color 0.15s ease-in-out;

    & + & {
        margin-left: 8px;
    }

    &:focus-visible,
    &.active {
        border-color: var(--triplex-next-ImageGallery-Accent_Color);
    }

    .image {
        display: block;
        width: 72px;
        height: 72px;
        border-radius: 8px;
        object-fit: cover;
        pointer-events: none;
        user-select: none;
    }
}

.button {
    position: absolute;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
    background: var(--triplex-next-ImageGallery-ThumbCarouselButton_Background_Default);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &.prev {
        left: 0;
    }

    &.next {
        right: 0;
    }
}

@media (max-width: @screen-sm-max) {
    .button {
        display: none;
    }
}
