@import url('src/styles/style');

.topOverlayMask {
    transition: opacity 0s;
    background: var(--triplex-next-TopOverlay-Background);
}

.topOverlayWrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;

    &.closing,
    &.opened {
        bottom: 0;
    }

    .topOverlayPanel {
        transition: transform 0.6s;
        box-shadow: none;
    }
}

.topOverlay {
    // Нужен, чтобы панель была над .lightBoxControls.
    z-index: @z-index-step * 5;
}
