@import "src/styles/style";

.stepperCarousel {
    position: relative;

    &:hover {
        .stepperButtonWrapper {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.stepperButtonWrapper {
    position: absolute;
    top: 0;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;

    &.prev {
        left: 0;
        background: var(--triplex-next-Stepper-ButtonWrapper_Background_Prev);
    }

    &.next {
        right: 0;
        background: var(--triplex-next-Stepper-ButtonWrapper_Background_Next);
    }
}

.stepperButton {
    &.sm {
        height: 28px;
        width: 28px;
    }

    &.md {
        height: 40px;
        width: 40px;
    }

    &.lg {
        height: 56px;
        width: 56px;
    }
}

@media (max-width: @screen-sm-max) {
    .stepperButtonWrapper {
        display: none;
    }
}
