.currency {
    font-size: 16px;
    line-height: 20px;
    color: var(--triplex-next-AmountField-Currency_Color_Default);

    &.disabled {
        color: var(--triplex-next-AmountField-Currency_Color_Disabled);
    }
}
