.tagGroup {
    &.sm {
        margin: -2px;
        & > * {
            margin: 2px;
        }
    }
    &.md {
        margin: -4px;
        & > * {
            margin: 4px;
        }
    }
    &.lg {
        margin: -6px;
        & > * {
            margin: 6px;
        }
    }
}