@import "../../../styles/style";

.row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: @row-bottom-padding;

    &.noPaddingBottom,
    &:last-child {
        padding-bottom: 0;
    }

    &.SM {
        margin-left: -@grid-horizontal-gap-SM;
        margin-right: -@grid-horizontal-gap-SM;
    }

    &.MD {
        margin-left: -@grid-horizontal-gap-MD;
        margin-right: -@grid-horizontal-gap-MD;
    }
}
