.loadingDots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.loadingDots.general {
    .dot {
        background-color: var(--triplex-next-LoadingDots-General_Background_Default);
    }
}

.loadingDots.secondary {
    .dot {
        background-color: var(--triplex-next-LoadingDots-Secondary_Background_Default);
    }
}

.dot {
    border-radius: 50%;
    animation: loadingDotsFade 0.9s infinite ease-in-out;

    .sm & {
        width: 4px;
        height: 4px;
    }

    .md & {
        width: 6px;
        height: 6px;
    }

    .lg & {
        width: 8px;
        height: 8px;
    }
}

.dot1 {
    opacity: 1;
    animation-delay: 0s;
}

.dot2 {
    opacity: 0.7;
    animation-delay: 0.15s;
}

.dot3 {
    opacity: 0.35;
    animation-delay: 0.3s;
}

@keyframes loadingDotsFade {
    0%, 80%, 100% {
        opacity: 0.35;
    }
    40% {
        opacity: 1;
    }
}


