@import "src/styles/style";

.body {
    position: relative;
    padding-bottom: 24px;
    display: flex;

    .bodyInner {
        position: relative;
        flex-grow: 1;
        width: 100%;
    }
}

@media (max-width: @screen-sm-max) {
    .body {
        padding: 16px 0;
        overflow-x: auto;
    }
}
