.buttonDropdown {
    &.block {
        display: block;
    }

    & + .button,
    & + .buttonDropdown {
        &:not(.block) {
            margin-left: 16px;
        }
    }

    .buttonDropdownTarget {
        &.targetLg {
            padding: 16px 24px;
        }

        .caretIcon {
            position: relative;
            margin-left: 4px;
            transition: transform 0.3s ease-in-out;
        }

        &.active .caretIcon {
            transform: rotate(-180deg);
        }
    }

    .buttonDropdownMenuItem {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
