@import "src/styles/style";

.buttonDropdown {
    &.block {
        display: block;
    }

    & + .button,
    & + .buttonDropdown {
        &:not(.block) {
            margin-left: @button-siblings-margin-left;
        }
    }

    .buttonDropdownTarget {
        &.md.dots {
            padding: 0 8px;
        }

        .caretIcon {
            margin-left: 2px;
            transition: transform 0.3s ease-in-out;
        }

        &.active .caretIcon {
            transform: rotate(-180deg);
        }
    }

    .buttonDropdownMenuItem {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
