@import 'src/styles/style';

.button {
    position: relative;
    margin: 0; // Фиксим отступ в Safari.
    vertical-align: top;
    outline: none;
    font-family: inherit;
    background-clip: padding-box;
    cursor: pointer;
    border: none;
    font-weight: 600;

    &::-moz-focus-inner {
        border: none;
        padding: 0;
    }

    &.md:not(.icon) {
        .size-MD();
        line-height: 20px;
        font-size: 14px;
    }

    &.sm:not(.icon) {
        .size-SM();
        line-height: 16px;
        font-size: 12px;
    }

    &.lg:not(.icon) {
        .size-LG();
        line-height: 20px;
        font-size: 16px;
    }

    &.icon {
        &.md {
            min-height: 40px;
            min-width: 40px;
            padding: 10px;
        }

        &.sm {
            min-height: 28px;
            min-width: 28px;
            padding: 4px;
        }

        &.lg {
            min-height: 56px;
            min-width: 56px;
            padding: 12px;
        }
    }

    &:disabled {
        cursor: default;

        * {
            pointer-events: none;
        }
    }

    & + .button {
        &:not(.block) {
            margin-left: @ufs-theme-button-siblings-margin-left;
        }
    }

    .content {
        display: flex; // button pointer-events ie fix
        position: relative; // button active offset ie fix
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }

    &.block {
        display: block;
        width: 100%;
    }

    &.loading {
        pointer-events: none;

        .content {
            visibility: hidden;
        }
    }

    .spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}
