@import "src/styles/style";

.button.link {
    text-transform: none;
    background: transparent;
    color: var(--triplex-next-Button-Link_Color_Default);
    padding: 0;

    &.md {
        .size-MD(@button-min-width-link, @button-padding-horizontal-link);
    }

    &.sm {
        .size-SM(@button-min-width-link, @button-padding-horizontal-link);
    }

    &.lg {
        .size-LG(@button-min-width-link, @button-padding-horizontal-link);
    }

    &:hover {
        color: var(--triplex-next-Button-Link_Color_Hover);
    }

    &:active {
        color: var(--triplex-next-Button-Link_Color_Active);
    }

    &:focus-visible {
        box-shadow: var(--triplex-next-Button-Link_Shadow_Focus);
    }

    &:disabled {
        color: var(--triplex-next-Button-Link_Color_Disabled);
    }
}
