@import 'src/styles/style';

.button.secondary {
    text-transform: none;
    background: var(--triplex-next-Button-Secondary_Background_Default);
    color: var(--triplex-next-Button-Secondary_Color_Default);
    box-shadow: var(--triplex-next-Button-Secondary_Shadow_Default);

    .caretIcon path {
        fill: var(--triplex-next-Button-Secondary_Caret_Color_Default);
    }

    &:hover {
        background: var(--triplex-next-Button-Secondary_Background_Hover);
        box-shadow: var(--triplex-next-Button-Secondary_Shadow_Hover);
        color: var(--triplex-next-Button-Secondary_Color_Hover);

        .caretIcon path {
            fill: var(--triplex-next-Button-Secondary_Caret_Color_Hover);
        }
    }

    &.expanded,
    &:active {
        background: var(--triplex-next-Button-Secondary_Background_Active);
        box-shadow: var(--triplex-next-Button-Secondary_Shadow_Active);
        color: var(--triplex-next-Button-Secondary_Color_Active);

        .caretIcon path {
            fill: var(--triplex-next-Button-Secondary_Caret_Color_Active);
        }
    }

    &:focus-visible {
        box-shadow: var(--triplex-next-Button-Secondary_Shadow_Focus);
    }

    &:disabled {
        background: var(--triplex-next-Button-Secondary_Background_Disabled);
        box-shadow: var(--triplex-next-Button-Secondary_Shadow_Disabled);
        color: var(--triplex-next-Button-Secondary_Color_Disabled);

        .caretIcon path {
            fill: var(--triplex-next-Button-Secondary_Caret_Color_Disabled);
        }
    }
}
